.DivColor0 {
    background-color: aliceblue;
}


#HeadImageContact {
    background-image: url(https://images.unsplash.com/photo-1563396984264-9107fdd3e713?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    padding: 320px;
}

.TitleContact {
    text-decoration:overline;
    font-family:'Baskerville Old Face';
    font-size:3em;
}
.ContainerHeadContact {
    position: relative;
    top: 80px;
    right: 250px;
    color: white;
    font-weight: bold;
}

.IconeFealRight {
    position: absolute;
    top: 950px;
    right:200px;
}

.IconeFealLeft {
    position: absolute;
   top:950px;
   
}

.IconeForm {
    text-align: center;
}

.ContainerContactSection1 { /* formulaire au centre */
    width: 490px;
    margin: auto;
 
}

.TitleSectionContact0 {
    text-align: center;
    padding-top: 120px;
    font-family: 'Baskerville Old Face';
    font-weight: bold;
    font-size: 3em;
}

.borderContact{

    border: 3px solid #30005f;
    
    height:80%;
    padding:20px 90px 80px 80px;
    display:inline-flex;
    
 
   border-radius:10px;

}
#CadreFormContact:hover {
  
    transform:scale(1.2);
    transition:2s;
    
    
}

.SectionContainerContact1{
    padding-bottom:50px;

}
.listPuce{
    border:4px double purple;
    background-color:white;
    list-style-type:circle;
    color:indigo;
    border-radius:20px;
}

.TextForm {
    text-align: center;
    font-family: Bahnschrift;
    font-weight: bold;
}
.text-center{
    font-weight:bold;
}
#BoutonEnvoyez {
    font-family: Bahnschrift;
    position: relative;
    left: 10px;
    top: 20px;
    font-weight: bold;
    width: 100px;
    border-radius: 40px;
    border: 3px dotted #30005f;
    background-color:mediumslateblue;
    color:white;
}

    #BoutonEnvoyez:hover {
        position: relative;
        
        font-size: 1.2em;
        box-shadow: 5px 5px 6px #30005f;
        border-color: ActiveBorder;
        transition: 1s;
        padding-top:2px;
        font-family:'Comic Sans MS';
        
    }
