@model Bio_Tourist.Models.User
@using Bio_Tourist.Controllers

<link rel="stylesheet" href="~/Content/main.css" />
<script language="javascript" type="text/javascript" src="../../Scripts/javascript.js"></script>
@using (Html.BeginForm("Verify", "User"))
{
    <div class="page-wrapper Color_User p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Connection</h2>
                        <form method="POST">
                            <div class="row">

                                
                                    <div class="input-group ">
                                        @Html.TextBoxFor(m => m.EMAIL_USER, new { @class = "input--style-2", placeholder = "Email", required = "required" })
                                        @Html.ValidationMessageFor(m => m.EMAIL_USER)
                                    </div>
                                

                                
                                    <div class="input-group ">
                                        @Html.PasswordFor(m => m.PASSWORD_USER, new { @class = "input--style-2", placeholder = "Mot de passe", required = "required" })
                                        @Html.ValidationMessageFor(m => m.PASSWORD_USER)
                                    </div>
                                
                                    <div class="p-t-30">
                                        <input type="submit" value="Connexion" class="btn btn--radius btn--green" />
                                    </div>
                                </div>
</form>
                </div>
            </div>
        </div>
    </div>
}
