@Model Bio-Tourist.Models.UserTest

@{
    ViewBag.Title = "Connection";
}

<h2>Connection</h2>

<form action="verify" method="post">

    <input type="text" name="username" placeholder="entrer le nom" />
    
    <input type="password" name="password" placeholder="entrer le mot de passe" />

    <input type="submit" value="connexion">

</form>