
@{
    ViewBag.Title = "Connection";
}

<h2>Connection</h2>

<form action="Verify" method="post">
    
    <input type="text" name="Username" placeholder="Entrer le nom" />
    
    <input type="password" name="Password" placeholder="Entrer le mot de passe" />

    <input type="submit" value="Connexion">

</form>