@{
    ViewBag.Title = "Index";
    

}


<section id="HeadImageHome">


    <div class="ContainerHeadHome">
       
            <h1 class="TitleHeadHome">
               
                Bienvenue chez BioTourist !

           </h1>

           <p class="TextHead"> Nous garantissons le meilleur échange entre particulier des produits bio de qualité. <br/>
            Entretenu et cultiver avec amour pour un résultat digne des produits biologiques.</p>

           <span>  <a href="#MoreInfo"> </a> <input type="button" name="Information" alt="Info" value="Plus d'infos" class="alert-danger" id="ButtonInfos"/> </span>
      
    </div>

</section>



 <section>

    <div class="container">

        <div class="PositionTitleSectionHome0">


            <h1 class="TitleSectionHome0" id="MoreInfo"> Qui sommes-nous ? </h1>

            <hr class="alert-danger hr" />

            <p class="IconePointInterrogation">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="90" height="90"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M169.34609,86c0,-46.02344 -37.32266,-83.34609 -83.34609,-83.34609c-46.02344,0 -83.34609,37.32266 -83.34609,83.34609c0,46.02344 37.32266,83.34609 83.34609,83.34609c46.02344,0 83.34609,-37.32266 83.34609,-83.34609z" fill="#30005f"></path><path d="M49.08047,60.97266c0,-4.66953 1.51172,-9.40625 4.50156,-14.21016c2.98984,-4.80391 7.39063,-8.76797 13.13516,-11.92578c5.74453,-3.15781 12.46328,-4.73672 20.15625,-4.73672c7.12187,0 13.4375,1.31016 18.87969,3.96406c5.47578,2.62031 9.675,6.21484 12.66484,10.75c2.98984,4.53516 4.46797,9.43984 4.46797,14.74766c0,4.19922 -0.83984,7.86094 -2.55312,10.98516c-1.71328,3.15781 -3.72891,5.87891 -6.04687,8.16328c-2.35156,2.28438 -6.51719,6.14766 -12.59766,11.55625c-1.67969,1.51172 -3.02344,2.85547 -4.03125,4.03125c-1.00781,1.14219 -1.74688,2.21719 -2.25078,3.15781c-0.50391,0.97422 -0.87344,1.91484 -1.14219,2.88906c-0.26875,0.97422 -0.67187,2.65391 -1.20938,5.07266c-0.94062,5.10625 -3.86328,7.69297 -8.76797,7.69297c-2.55313,0 -4.70312,-0.83984 -6.45,-2.51953c-1.74687,-1.67969 -2.62031,-4.16563 -2.62031,-7.45781c0,-4.13203 0.63828,-7.72656 1.91484,-10.75c1.27656,-3.02344 2.98984,-5.67734 5.10625,-7.96172c2.11641,-2.28437 4.97187,-5.00547 8.56641,-8.16328c3.15781,-2.75469 5.40859,-4.8375 6.81953,-6.24844c1.41094,-1.41094 2.58672,-2.95625 3.52734,-4.70312c0.97422,-1.71328 1.44453,-3.59453 1.44453,-5.61016c0,-3.93047 -1.47812,-7.25625 -4.40078,-9.97734c-2.92266,-2.72109 -6.71875,-4.06484 -11.32109,-4.06484c-5.40859,0 -9.40625,1.37734 -11.95938,4.09844c-2.55312,2.72109 -4.73672,6.75234 -6.48359,12.06016c-1.67969,5.57656 -4.8375,8.33125 -9.50703,8.33125c-2.75469,0 -5.07266,-0.97422 -6.9875,-2.92266c-1.88125,-1.88125 -2.85547,-3.96406 -2.85547,-6.24844zM85.12656,141.86641c-2.98984,0 -5.61016,-0.97422 -7.86094,-2.92266c-2.25078,-1.94844 -3.35937,-4.66953 -3.35937,-8.16328c0,-3.09063 1.075,-5.71094 3.25859,-7.82734c2.15,-2.11641 4.8375,-3.15781 7.96172,-3.15781c3.09063,0 5.71094,1.075 7.82734,3.15781c2.11641,2.11641 3.15781,4.73672 3.15781,7.82734c0,3.46016 -1.10859,6.14766 -3.32578,8.12969c-2.21719,1.98203 -4.77031,2.95625 -7.65937,2.95625z" fill="#ffffff"></path></g></g></svg>
            </p>


        </div>      

      

        <div class="container" id="TextSectionHome0">



            <div>

                Nous sommes une petite startup basée sur Paris. Nous avons comme but d’amener le bio à la porté de chacun n’importe où dans le monde grâce à des prix attractifs.
                De plus, nous ciblons les touristes pour leur faire découvrir les produits bio de la région.
                Notre cible : <strong>monde entier.</strong>

                <br />
                <br />

                Nous nous engageons :

                <br />
                <br />

            </div>

            <ul>


                <li class="icon-bar"> Renouer le contact social est aussi un des gros points positif de l’application.</li>
                <li class="icon-bar"> Bénéficier d'un service d’échange C2C.</li>
                <li class="icon-bar"> Proposer 3 statuts : Vendeur, Acheteur et contrôleur. </li>

            </ul>

        </div>

    </div>

</section>

<section>

    <div class="container" id="ContainerColor1">

        <div class="PositionTitleSectionHome1">

                
            <h1 class="TitleSectionHome1"> Le bio, c'est quoi ?</h1>

            <hr class="alert-danger hr" />

            <p class="IconeOrganic">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="90" height="90"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#30005f"><path d="M86,6.88c-43.63156,0 -79.12,35.48844 -79.12,79.12c0,43.63156 35.48844,79.12 79.12,79.12c43.63156,0 79.12,-35.48844 79.12,-79.12c0,-43.63156 -35.48844,-79.12 -79.12,-79.12zM96.75,44.505c12.42969,0.12094 23.65,3.68188 28.81,6.665c-10.77687,14.5125 -6.30219,39.61375 -18.275,56.4375c-11.20687,15.73531 -32.035,16.6625 -32.035,16.6625h-0.5375c-0.16125,6.85313 0.25531,13.4375 1.29,18.8125c0.36281,1.86781 -0.81969,3.61469 -2.6875,3.9775c-0.215,0.04031 -0.43,0.1075 -0.645,0.1075c-1.6125,0 -3.02344,-1.14219 -3.3325,-2.795c-0.01344,-0.25531 -0.04031,-0.51062 -0.1075,-0.7525c-0.02687,-0.18812 -0.05375,-0.36281 -0.1075,-0.5375c-0.02687,-0.16125 -0.08062,-0.36281 -0.1075,-0.5375c-0.17469,-1.075 -0.40312,-2.19031 -0.5375,-3.3325c-0.14781,-1.1825 -0.215,-2.41875 -0.3225,-3.655c-0.05375,-0.67187 -0.06719,-1.35719 -0.1075,-2.0425c-0.08062,-1.29 -0.17469,-2.53969 -0.215,-3.87c-0.04031,-1.76031 -0.04031,-3.56094 0,-5.375c0.29563,-11.69062 2.41875,-24.49656 7.2025,-33.6475c9.46,-18.10031 22.6825,-24.51 22.6825,-24.51c1.55875,-0.69875 2.37844,-2.41875 1.92156,-4.07156c-0.45688,-1.63937 -2.05594,-2.70094 -3.74906,-2.48594c-0.45687,0.05375 -0.88687,0.20156 -1.29,0.43c0,0 -15.30531,7.6325 -25.6925,27.52c-5.18687,9.94375 -7.49812,22.37344 -7.955,34.0775c-7.64594,-7.83406 -27.88281,-33.39219 -0.3225,-62.995c10.07813,-10.83062 23.69031,-14.20344 36.12,-14.0825z"></path></g></g></svg>
            </p>


        </div>

        

        <div class="container" id="TextSectionHome1">


            <p> <strong>Le terme "bio" désigne un produit ou une denrée issus de l'agriculture biologique. </strong> Le mode de production agricole est naturel et n'utilise aucun produit chimique de synthèse, comme les pesticides, les herbicides chimiques, les fertilisants artificiels ou les hormones de croissance, ni d'OGM. 
            <br/>
            Il s'inscrit dans une vision globale de développement durable dans le respect de l'environnement, de la biodiversité et du bien-être animal. Le bio utilise des matières organiques naturelles recyclées et le principe de rotation des cultures. L'agriculture bio est née dans les années 20, quand des agronomes, agriculteurs, consommateurs, médecins ont commencé à œuvrer pour un mode de production agricole alternatif.</p>


        </div>

    </div>

</section>

<section>

    <div class="container" id="ContainerColor2">
       
        
        <div class="PositionTitleSectionHome2">

            <h1 class="TitleSectionHome2"> Les statuts </h1>

            <hr class="alert-danger"/>

            <p class="IconeStatutes">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="90" height="90"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#30005f"><path d="M127.28,0c-15.17094,0 -27.52,12.34906 -27.52,27.52c0,15.17094 12.34906,27.52 27.52,27.52c15.17094,0 27.52,-12.34906 27.52,-27.52c0,-15.17094 -12.34906,-27.52 -27.52,-27.52zM73.96,3.44c-12.33562,0 -22.36,10.02438 -22.36,22.36c0,12.33563 10.02438,22.36 22.36,22.36c12.33563,0 22.36,-10.02437 22.36,-22.36c0,-12.33562 -10.02437,-22.36 -22.36,-22.36zM30.96,10.32c-9.48687,0 -17.2,7.71313 -17.2,17.2c0,9.48688 7.71313,17.2 17.2,17.2c9.48688,0 17.2,-7.71312 17.2,-17.2c0,-9.48687 -7.71312,-17.2 -17.2,-17.2zM30.96,51.6c-13.27625,0 -24.08,10.80375 -24.08,24.08v41.28c0,1.90813 1.54531,3.44 3.44,3.44h34.4v17.2c0,1.90813 1.54531,3.44 3.44,3.44h34.4v27.52c0,1.90813 1.54531,3.44 3.44,3.44h75.68c1.90813,0 3.44,-1.53187 3.44,-3.44v-61.92c0,-22.76312 -18.51687,-41.28 -41.28,-41.28c-8.385,0 -16.40719,2.4725 -23.07219,7.04125c-4.59563,-10.4275 -14.98281,-17.36125 -26.80781,-17.36125c-8.385,0 -16.07125,3.46688 -21.6075,9.51375c-4.01781,-7.79375 -12.17437,-12.95375 -21.3925,-12.95375z"></path></g></g></svg>
            </p>

        </div>



        <div class="TextSectionHome2" id="PositionStatutes">




            <div id="ContainerBuyer">

                <p class="IconeBuyer">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="64" height="64"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;">
                        <defs><linearGradient x1="115.5625" y1="90.25431" x2="115.5625" y2="99.00213" gradientUnits="userSpaceOnUse" id="color-1"><stop offset="0" stop-color="#383838"></stop><stop offset="1" stop-color="#383838"></stop></linearGradient><linearGradient x1="75.25" y1="15.23006" x2="75.25" y2="157.80463" gradientUnits="userSpaceOnUse" id="color-2"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000"></stop></linearGradient><linearGradient x1="75.25" y1="15.23006" x2="75.25" y2="157.80463" gradientUnits="userSpaceOnUse" id="color-3"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000"></stop></linearGradient><linearGradient x1="86" y1="15.23006" x2="86" y2="157.80463" gradientUnits="userSpaceOnUse" id="color-4"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000"></stop></linearGradient><linearGradient x1="96.75" y1="15.23006" x2="96.75" y2="157.80463" gradientUnits="userSpaceOnUse" id="color-5"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000"></stop></linearGradient><linearGradient x1="137.0625" y1="15.23006" x2="137.0625" y2="157.80463" gradientUnits="userSpaceOnUse" id="color-6"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000"></stop></linearGradient><linearGradient x1="96.75" y1="15.23006" x2="96.75" y2="157.80463" gradientUnits="userSpaceOnUse" id="color-7"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000"></stop></linearGradient></defs>
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M80.625,91.375h69.875v5.375h-69.875z" fill="url(#color-1)"></path><path d="M59.125,43h32.25v5.375h-32.25z" fill="url(#color-2)"></path><path d="M59.125,59.125h32.25v5.375h-32.25z" fill="url(#color-3)"></path><path d="M147.8125,75.25h-13.4375v-21.5c0,-5.92862 -4.82137,-10.75 -10.75,-10.75h-21.5v-2.6875v-0.11288v-10.63981c0,-7.40944 -6.02806,-13.43481 -13.4375,-13.43481h-26.875c-7.40944,0 -13.4375,6.02538 -13.4375,13.43481v10.63981v2.80038h-21.5c-5.92862,0 -10.75,4.82138 -10.75,10.75v83.30981c0,10.37375 8.44144,18.81519 18.8125,18.81519h80.625c10.37106,0 18.8125,-8.44144 18.8125,-18.81519v-2.68481h13.4375c4.44512,0 8.0625,-3.61738 8.0625,-8.0625v-43c0,-4.44513 -3.61737,-8.0625 -8.0625,-8.0625zM150.5,83.3125v2.6875h-69.875v-2.6875c0,-1.4835 1.204,-2.6875 2.6875,-2.6875h64.5c1.4835,0 2.6875,1.204 2.6875,2.6875zM80.625,91.375h69.875v5.375h-69.875zM123.625,48.375c2.96431,0 5.375,2.41069 5.375,5.375c0,2.96431 -2.41069,5.375 -5.375,5.375h-21.5v-10.75zM61.8125,21.5h26.875c4.44512,0 8.0625,3.61737 8.0625,8.05981v0.01075c-2.22525,-1.66894 -4.95844,-2.69556 -7.94962,-2.69556h-27.10075c-2.99119,0 -5.72438,1.02662 -7.94962,2.69556v-0.01075c0,-4.44244 3.61738,-8.05981 8.0625,-8.05981zM51.0625,91.37231c4.44512,0 8.0625,3.61737 8.0625,8.0625c0,4.44513 -3.61738,8.0625 -8.0625,8.0625c-4.44512,0 -8.0625,-3.61737 -8.0625,-8.0625c0,-4.44513 3.61738,-8.0625 8.0625,-8.0625zM26.875,48.375h21.5v10.75h-21.5c-2.96431,0 -5.375,-2.41069 -5.375,-5.375c0,-2.96431 2.41069,-5.375 5.375,-5.375zM129,137.05981c0,7.41213 -6.02806,13.44019 -13.4375,13.44019h-80.625c-7.40944,0 -13.4375,-6.02806 -13.4375,-13.44019v-74.05406c1.58831,0.9245 3.40775,1.49425 5.375,1.49425h21.5v21.76875c-6.12481,1.24969 -10.75,6.67575 -10.75,13.16606c0,7.40944 6.02806,13.4375 13.4375,13.4375c7.40944,0 13.4375,-6.02806 13.4375,-13.4375c0,-6.49031 -4.62519,-11.91637 -10.75,-13.16606v-43.26875v-2.80038c0,-4.38331 3.56631,-7.94962 7.94962,-7.94962h27.10075c4.38331,0 7.94962,3.56631 7.94962,7.94962v0.11288v2.6875v5.375v10.75v2.6875v2.6875h26.875c1.96725,0 3.78669,-0.56975 5.375,-1.49425v12.24425h-45.6875c-4.44513,0 -8.0625,3.61737 -8.0625,8.0625v43c0,4.44512 3.61737,8.0625 8.0625,8.0625h45.6875zM147.8125,129h-64.5c-1.4835,0 -2.6875,-1.204 -2.6875,-2.6875v-24.1875h69.875v24.1875c0,1.4835 -1.204,2.6875 -2.6875,2.6875z" fill="url(#color-4)"></path><path d="M86,118.25h21.5v5.375h-21.5z" fill="url(#color-5)"></path><path d="M129,118.25h16.125v5.375h-16.125z" fill="url(#color-6)"></path><path d="M86,107.5h21.5v5.375h-21.5z" fill="url(#color-7)"></path></g></g>
                    </svg>
                </p>

                <h3 class="TitleDifferentStatutes">Acheteur</h3>

                <br />

                <img src="https://image.freepik.com/free-photo/woman-shopping-organic-vegetables-fruits_1150-17779.jpg" class="ImageBuyer" />

                <br />
                <br />

                <h4 class="H4Description"> Description :</h4>

                <br />



                <p class="container-fluid">

                    Etre acheteur de produit bio, c'est devenir un acteur soucieux de leur santé et de l'environnement. Il bénéficie des meilleurs produits bio de qualité dans la catégorie des fruits et légumes dans le monde entier.
                    Une souplesse géographique est également intéressante pour faciliter vos recherches selon vos déplacements.
                    De plus, il garantit de nos meilleurs services d'échanges et de conseils afin d'orienter au mieux sur les bons produits.
                    Il est physiquement plus actif, plus soucieux d’acheter des produits de saison et frais et d’éviter le gaspillage. Ils passent également plus de temps à cuisiner.

                </p>

                <br />

                Si vous souhaitez devenir un ACHETEUR BIO, cliquez sur devenir un acheteur bio.

                <br />

                <p><input type="submit" name="BecomeBuyerOrganic" alt="envoyez" value="Devenir Acheteur Bio" class="alert-danger" id="SubmitBuyer" /></p>

            </div>

            <br />

            <div class="ContainerSeller">

                <p class="IconeSeller">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="64" height="64"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#000000"><path d="M37.625,0c-2.96045,0 -5.375,2.41455 -5.375,5.375v10.75c0,2.96045 2.41455,5.375 5.375,5.375v61.8125c0,4.44067 3.62183,8.0625 8.0625,8.0625h102.125c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-61.8125c2.96045,0 5.375,-2.41455 5.375,-5.375v-10.75c0,-2.96045 -2.41455,-5.375 -5.375,-5.375zM37.625,5.375h118.25v10.75h-8.0625c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.20728,2.6875 2.6875,2.6875h2.6875v48.375c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875v2.6875c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-102.125c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875v-2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875v-48.375h72.5625c1.48022,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875h-77.9375zM126.3125,16.125c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.20728,2.6875 2.6875,2.6875h10.75c1.48022,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM83.3125,26.875c-4.44067,0 -8.0625,3.62183 -8.0625,8.0625c0,4.44067 3.62183,8.0625 8.0625,8.0625h26.875c4.44067,0 8.0625,-3.62183 8.0625,-8.0625c0,-4.44067 -3.62183,-8.0625 -8.0625,-8.0625zM83.3125,32.25h26.875c1.48022,0 2.6875,1.20728 2.6875,2.6875c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-26.875c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875c0,-1.48022 1.20728,-2.6875 2.6875,-2.6875zM56.4375,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM69.875,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM83.3125,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM96.75,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM110.1875,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM123.625,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM137.0625,69.875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM52.43774,100.14087c-0.78735,0.02099 -1.57471,0.07349 -2.35156,0.14697l-42.77954,4.07324c-4.16772,0.39893 -7.30664,3.84229 -7.30664,8.02051v39.70361c0,2.40405 1.0603,4.67163 2.91846,6.20435c1.84766,1.53271 4.26221,2.1626 6.63477,1.72168l30.30786,-5.67945c3.63233,-0.68237 7.35913,-0.28345 10.771,1.15479l35.78784,15.0752c3.01294,1.27026 6.20435,1.91064 9.39575,1.90015c3.82129,0 7.63208,-0.90283 11.12793,-2.71899l58.26416,-30.21338c4.18872,-2.1731 6.79224,-6.4458 6.79224,-11.19092c0,-3.91577 -1.78467,-7.5376 -4.88159,-9.94165c-3.09692,-2.40405 -7.06518,-3.2124 -10.85498,-2.22559l-36.03979,9.34326c-0.70337,-2.09961 -1.93164,-4.02075 -3.56934,-5.54297c-2.72949,-2.54053 -6.40381,-3.83179 -10.12012,-3.56934l-5.8894,0.41992c-2.28858,0.16797 -4.60864,-0.26245 -6.69776,-1.24927l-25.63623,-12.10425c-4.96558,-2.34107 -10.41406,-3.48535 -15.87305,-3.32788zM54.55835,105.52637c3.95777,0.15747 7.86304,1.11279 11.45337,2.81348l25.64673,12.09375c2.91846,1.37524 6.16235,1.97363 9.37476,1.75317l5.8894,-0.41992c2.25708,-0.15747 4.41968,0.58789 6.07837,2.1311c1.64819,1.54321 2.56152,3.64282 2.56152,5.8999v1.0918c0,1.0603 -0.61939,2.02612 -1.58521,2.45654l-7.93652,3.55884c-5.95239,2.677 -12.83911,2.82398 -18.89648,0.39893l-13.55298,-5.42749c-1.38574,-0.5564 -2.94995,0.11548 -3.49585,1.50122c-0.5564,1.37524 0.11548,2.93945 1.50122,3.48535l13.55298,5.43799c7.41162,2.96045 15.83105,2.78198 23.1062,-0.49341l7.92603,-3.55884c2.88696,-1.30176 4.75561,-4.18872 4.75561,-7.35913l36.66968,-9.52173c2.1731,-0.56689 4.44067,-0.09448 6.21484,1.28076c1.78467,1.37524 2.80298,3.45386 2.80298,5.72143c0,2.698 -1.49072,5.14404 -3.88428,6.38281l-58.27466,30.22388c-4.97608,2.57202 -10.80249,2.80298 -15.95703,0.62988l-35.79834,-15.0752c-2.99194,-1.25977 -6.16235,-1.90015 -9.37476,-1.90015c-1.48022,0 -2.98145,0.13647 -4.46167,0.41992l-16.82837,3.14941v-43.85034l28.55469,-2.70849c1.32276,-0.12598 2.64551,-0.15747 3.95776,-0.11548zM16.6709,108.87524v44.33325l-8.10449,1.52222c-1.0813,0.19946 -1.85815,-0.27295 -2.22559,-0.57739c-0.35693,-0.30444 -0.96582,-0.96582 -0.96582,-2.06811v-39.70361c0,-1.38574 1.03931,-2.54053 2.43555,-2.6665z"></path></g></g>
                    </svg>
                </p>

                <h3 class="TitleDifferentStatutes">Vendeur</h3>

                <br />

                <img src="https://image.freepik.com/free-photo/agriculture-is-researching-flower-varieties-modern-agricultural-concepts_1150-8169.jpg" class="ImageSeller" />

                <br />
                <br />

                <h4 class="H4Description"> Description :</h4>

                <br />

                <p class="container-fluid">

                    Etre vendeur de produit bio, c'est devenir un acteur responsable et passionné. Avant tout commerçant, le détaillant spécialisé en produits biologiques est en contact permanent avec la clientèle. <br />
                    Ce spécialiste se distingue par ses connaissances des caractéristiques spécifiques des produits qu'il commercialise, des techniques de production et de manière plus générale, ses connaissances de la filière des produits biologiques.

                </p>

                <br />

                Si vous souhaitez devenir un Vendeur BIO, cliquez sur devenir un vendeur bio.

                <br />
                <br />
                <br />
                <br />

                <p><input type="button" name="BecomeSellerOrganic" alt="envoyez" value="Devenir Vendeur Bio" class="alert-danger" id="SubmitSeller" /></p>

            </div>

            <br />

            <div class="ContainerController">

                <p class="IconeController">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="64" height="64"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#000000"><path d="M37.84,24.08c-9.45834,0 -17.2,7.74166 -17.2,17.2v89.44c0,9.45834 7.74166,17.2 17.2,17.2h96.32c9.45834,0 17.2,-7.74166 17.2,-17.2v-89.44c0,-9.45834 -7.74166,-17.2 -17.2,-17.2zM37.84,30.96h96.32c5.73958,0 10.32,4.58042 10.32,10.32v89.44c0,5.73958 -4.58042,10.32 -10.32,10.32h-96.32c-5.73958,0 -10.32,-4.58042 -10.32,-10.32v-89.44c0,-5.73958 4.58042,-10.32 10.32,-10.32zM106.58625,44.72c-0.89362,0.01425 -1.74663,0.37569 -2.37844,1.00781l-20.64,20.64c-0.89867,0.86281 -1.26068,2.14404 -0.94641,3.34956c0.31427,1.20552 1.2557,2.14696 2.46122,2.46122c1.20552,0.31427 2.48675,-0.04774 3.34956,-0.94641l18.20781,-18.20781l18.20781,18.20781c0.86281,0.89867 2.14404,1.26068 3.34956,0.94641c1.20552,-0.31427 2.14696,-1.2557 2.46122,-2.46122c0.31427,-1.20552 -0.04774,-2.48675 -0.94641,-3.34956l-20.64,-20.64c-0.65815,-0.65846 -1.55506,-1.02207 -2.48594,-1.00781z"></path></g></g>
                    </svg>
                </p>

                <h3 class="TitleDifferentStatutes">Contrôleur</h3>

                <br />

                <img src="https://image.freepik.com/free-photo/man-with-tablet-cornfield_23-2148233383.jpg" class="ImageController" />

                <br />
                <br />

                <h4 class="H4Description"> Description :</h4>

                <br />

                <p class="container-fluid">

                    Etre contrôleur, c'est devenir un acteur vigilant et méticuleux. S'assurer que les produits bio sont dans les normes et répondent bien aux critères biologique. <br />
                    Pour commercialiser des produits issus de l’agriculture biologique, tout opérateur (qu’il soit producteur, préparateur, distributeur) doit avoir été contrôlé par un organisme certificateur agréé par l’Institut National de l’Origine et de la qualité et disposer des certificats correspondants.
                    tout opérateur doit notifier son activité auprès de l’Agence BIO, ce qui lui permet de figurer sur l’annuaire officiel des opérateurs en agriculture biologique.
                </p>

                <br />

                Si vous souhaitez devenir un Contrôleur BIO, cliquez sur devenir un Contrôleur bio.

                <br />

                <p><input type="submit" name="BecomeControllerBio" alt="envoyez" value="Devenir Contrôleur Bio" class="alert-danger" id="SubmitController" /></p>

            </div>


        </div>

            </div>
</section>

<section>

    <div class="container">

        <div class="PositionTitleSectionHomes3">


            <h1 class="TitleSectionHome3">Nous situer ? </h1>

            <hr class="alert-danger hr" />

            <p class="IconeGeo">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="90" height="90"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#30005f"><path d="M86,18.8125c-28.62187,0 -52.13803,23.24635 -52.2724,51.86822c0.13437,10.75 3.36095,21.23178 9.67657,30.10053c0.13438,0.26875 0.26665,0.53697 0.5354,0.80572l36.81927,48.91303l0.13385,0.13385c1.34375,1.6125 3.22605,2.4198 5.1073,2.4198c1.88125,0 3.76355,-0.94167 5.1073,-2.4198l0.13385,-0.13385l36.6828,-48.91303c0.40312,-0.40312 0.67345,-0.6724 0.9422,-1.2099c6.04687,-8.73437 9.2724,-19.08073 9.2724,-29.69635c0,-28.4875 -23.3823,-51.86822 -52.13855,-51.86822zM86,26.875c24.32187,0 44.07605,19.75208 44.07605,43.93958c0,9.00312 -2.68802,17.6047 -7.92865,25.1297c-0.13437,0.13437 -0.27032,0.26718 -0.27032,0.40155l-35.87708,47.8396l-35.74322,-47.70312l-0.13385,-0.13647c0,-0.13437 -0.13595,-0.13333 -0.27032,-0.2677c-5.24062,-7.525 -8.0625,-16.26042 -8.0625,-25.26355c0.13437,-24.32188 20.0224,-43.93958 44.2099,-43.93958zM86,44.4776c-13.975,0 -25.3974,11.0198 -25.3974,24.59168c0,13.57188 11.4224,24.72552 25.3974,24.72552c13.975,0 25.3974,-11.0198 25.3974,-24.59167c0,-13.57187 -11.4224,-24.72553 -25.3974,-24.72553zM86,52.5401c9.54062,0 17.3349,7.39168 17.3349,16.52918c0,9.1375 -7.79428,16.66302 -17.3349,16.66302c-9.54063,0 -17.3349,-7.39167 -17.3349,-16.52917c0,-9.1375 7.79428,-16.66303 17.3349,-16.66303z"></path></g></g></svg>
            </p>


        </div>


        <div>
          
            <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.8387708607142!2d2.3407521156738103!3d48.84221397928593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671c20bee1445%3A0x20dac14240deb229!2s62%20Rue%20Gay-Lussac%2C%2075005%20Paris!5e0!3m2!1sfr!2sfr!4v1578429175650!5m2!1sfr!2sfr" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>

        </div>
    </div>

  










</section>



